@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(85, 39, 6);
}

.hero {
    height: 100vh;
    /*background-image: url("../img/hero-empanadas.jpeg"); */
    background: black;
}

.hero_header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0;
}

.hero_header .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 300;
}

.header_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.header_right p {
    font-family: 'Lato', 'sans-serif';
}

.header_right .menu {
    font-family: 'Bebas Neue', cursive;
    list-style: none;
    display: flex;
    font-weight: 300;
    font-size: 1.4rem;
    gap: 2rem;
    letter-spacing: 1px;
}

.hero_main {
    display: flex;
    padding-inline: 6rem;
}

.hero_main > div {
    flex: 1;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}

.hero_text h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 1.2rem;
    border: 2px dashed rgb(85, 39, 6);
    width: max-content;
    padding: .6rem;
    padding-bottom: .4rem;
    margin-bottom: 1rem;
}

.hero_text h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5rem;
    line-height: 1;
    text-shadow: 4px 4px 0 white;
}

.hero_text h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    text-shadow: 4px 4px 0 white;
}

.hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    position: relative;
}

.hero_img img{
    max-width: 400px;
}

.sale {
    position: absolute;
    bottom: 4rem;
    left: 5rem;
    background-color: tomato;
    width: 100px;
    height: 100px;
    padding: 3.6rem;
    border-radius: 50%;
    border: 2px dashed white;
    outline: 5px solid tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.price {
    font-size: 3rem;
    line-height: 1;
}

.price small {
    font-size: 1.4rem;
}

.only {
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 4px;
}

.price,
.only,
.price small {
    color: white;
}

.grid {
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "item1 item2" "item1 item3";
    gap: 2rem;
}

.grid_item {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
    padding: 2rem;

}

.grid_item1 {
    grid-area: item1;
    background-image: url("../img/grid-big.jpeg");
    height: 400px;
}

.grid_item2 {
    grid-area: item2;
    background-image: url("../img/grid-small1.jpeg");
    
}

.grid_item3 {
    grid-area: item3;
    background-image: url("../img/grid-small2.jpeg");
    
}

.grid_item h4,
.grid_item h5 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

.grid_item h5 {
    font-size: 1.2rem;
}

.grid_item h4 {
    font-size: 1.6rem;
}

.enjoy {
    padding: 6rem;
    padding-top: 0;
}

.titles {
    text-align: center;
    padding-inline: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 1.2rem;
    background-color: darkorange;
    padding: .5rem .1rem 0.25rem 1rem;
}

.titles h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
}

.titles p {
    font-family: 'Lato', sans-serif;
}

.cards {
    display: flex;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card img {
    max-width: 100%;
}

.card h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 1.6rem;
}

.card p {
    font-family: 'Lato', sans-serif;
    width: 75%;
    text-align: center;
}

.card a {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1rem;
    background-color: red;
    padding: .75rem 1rem;
    color: white;
    text-decoration: none;
}

/*************EVENTS***************/

.events {
    padding: 6rem;
    padding-top: 0;
}

.inner {
    display: flex;
    padding: 2rem;
    box-shadow: 15px 15px 30px rgb(62, 60, 60);
}


.inner_right {
    flex: 1.25;
    min-width: 0;
}



.inner_right img {
    max-width: 100%;
}

.inner_left {
    padding-block: 2rem;
    padding-right: 2rem;
}

.inner_left h5 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 1.6rem;
    color: rgb(56, 56, 56);
    letter-spacing: 1px;
}

.inner_left p {
    font-family: 'Lato', sans-serif;
    color: rgb(56, 56, 56);
    font-size: 1.1rem;
    
}

.innet_left h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
}

/*********RESERVATION***********/
.reservation {
    padding: 6rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-repeat: no-repeat;
    background-image: 
    url('../img/menu-1.png'),
    url('../img/menu-2.png');
    background-size: 
    200px,
    300px;
    background-position: 
    100px center,
    1050px 100px;
}

.reservation_heading {
    text-align: center;
}

.reservation_heading h5 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 1.6rem;
}

.reservation_heading h4 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
}

.reservation_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "name  email" "date  time" "people button ";
    width: 36rem;
    gap: 1rem;
}

.reservation_form input {
    padding: 0.75rem 1rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    color: black;
}

.reservation_form .name {
    grid-area: name;
}

.reservation_form .email {
    grid-area: email;
}

.reservation_form .date {
    grid-area: date;
}

.reservation_form .time {
    grid-area: time;
}
.reservation_form .people{
    grid-area: people;
}

.reservation_form .button {
    grid-area: button;
    border: 0;
    background-color: red;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

/********* FOOTER **************/

footer {
    padding: 6rem;
    padding-top: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    background-image: url("../img/burger.jpeg");
    background-size: cover;
    background-position: center center;
    padding: 2rem;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.628);
}

.footer_top,
.footer_bottom {
    z-index: 1;
}

footer h2,
footer p,
footer i {
    color: white;
}

.footer_top {
    display: flex;
    padding-block: 3rem;
}



.footer_top > div {
    flex: 1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_top p {
    font-family: 'Lato', sans-serif;
}

.footer_top h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 3rem;
}

.address {
    align-items: flex-end;
}

.address p {
    font-family: 'Bebas Neue', cursive ;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer_bottom p {
    font-family: 'Bebas Neue', cursive;
        font-weight: 300;
        letter-spacing: 1px;
}

.footer_bottom .icons {
    display: flex;
    gap: 0.5rem;
}
